<html xmlns:th="http://www.thymeleaf.org">


<body>
<h1>All products in the store:</h1>


<table border="1">
<tr>
<td>ID</td>
<td>TITLE</td>
<td>PRICE</td>
<td>QUANTITY</td>
<td>CATEGORY</td>
<td>DESCRIPTION</td>
</tr>

<tr th:each="tempP : ${box} "  >
	<td th:text="${tempP.id}"  > </td>
	<td th:text="${tempP.title}"  > </td>
	<td th:text="${tempP.price}"  > </td>
	<td th:text="${tempP.quantity}"  > </td>
	<td th:text="${tempP.category}"  > </td>
	<td th:text="${tempP.description}"  > </td>
</tr>

</table>



</body>


</html>